.banner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/imgs/banner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 3;

  &__title {
    font-size: 4rem;
    font-weight: $bolder;
    text-align: center;
    line-height: 75px;
    margin-bottom: 5rem;
    z-index: 2;

    @include respond-to('large') {
      font-size: 10rem;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $dark-color;
      opacity: .5;
      z-index: -2;
    }

    &--strong {
      font-size: 10rem;
      color: gold;
      display: block;
  
      @include respond-to('large') {
        display: inline;
      }
    }
  }
  &__button {
    z-index: 2;
  }
}
