.button {
  @include squareButton($white-color, inherit, transparent);
  @include button-hover($gold-color, $dark-color);

  &--border-black {
    border-color: $dark-color;
  }

  &--type-link {
    padding: 0;
  }

  &__link {
    @include link(inherit);
    @include linkButton();
  }

  &--border-narrow {
    border-width: 1px;
  }

  &--active {
    color: $gold-color;
    border-width: 1px;
    border-color: $gold-color;
  }

  &--highlight {
    display: none;
    margin: 0;
    padding: 0;
    border-color: $gold-color;
    border-width: 1px;
    outline: none;
    position: absolute;
    pointer-events: none;
    transition: all 0.5s ease-out;
  }

  &--outline-hidden {
    outline-color: transparent;
  }
}
