.button {
  @include squareButton($dark-color, $dark-color, inherit);
  font-weight: inherit;

  &:hover {
    @include button-hover($gold-color, $dark-color);
  }

  &--light {
    @include squareButton($white-color, $white-color, inherit);
  }

  &--big {
    font-size: 7vw;
    padding: 1.5rem 3.5rem;

    @include respond-to('large') {
      font-size: 3vw;
    }
  }
  
  &--medium {
    font-size: 6vw;
    padding: 1rem 1.5rem;
    @include respond-to('large') {
      font-size: 2vw;
    }
  }
  
  &--small {
    font-size: 4vw;
    font-weight: $normal;
    @include respond-to('large') {
      font-size: 1vw;
      border-width: .3rem;
    }
  }

  &--active {
    color: $gold-color;
    border-color: $gold-color;
  }
}
