.card {
  @include flex($direction: column, $justify: flex-start, $align: stretch);
  font-weight: $bolder;
  background-color: $white-color;
  border-radius: rem(5);
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10%);
  animation: fadeInImage 1s forwards;

  @include animation(fadeInImage) {
    from {
      transform: translateY(10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &--display-none {
    display: none;
  }

  &__image-box {
    position: relative;
    cursor: pointer;
  }

  &__image {
    max-width: 100%;
    transition: all 0.5s ease-in-out;
  }

  &__add-item-button {
    @include nonSquareButton($dark-color, $gold-color);
    font-size: rem(20);
    border-radius: 2rem 0 0 0;
    padding: 1.2em 0.5em 0.5em 0.9em;
    position: absolute;
    bottom: 1.5%;
    right: 0;
  }

  &__body {
    @include flex($justify: space-between);
    width: 100%;
    padding: 0.5em;
  }

  &__text {
    font-size: rem(22);
    color: $dark-color;
    margin-left: 0.5em;

    &--right {
      margin-right: 1em;
    }
  }
}

.card {
  @include respond-to('large') {
    &__image-box {
      &:hover {
        .card__add-item-button {
          bottom: -3.5%;
          opacity: 1;
        }

        .card__image {
          transform: scale(1.1);
        }
      }
    }

    &__add-item-button {
      opacity: 0;
      transition: all 0.5s ease-in-out;

      &:focus {
        opacity: 1;
      }

      &:hover {
        color: $white-color;
      }
    }
  }
}
