.carousel {
  position: relative;
  width: 105%;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    transition: transform 5s ease-in-out;
  }
  &__button {
    @include nonSquareButton($white-color, transparent);
    font-size: 4rem;
    position: absolute;
    top: 50%;

    @include respond-to('large') {
      font-size: 5rem;
      &:hover {
        opacity: 1;
      }
    }

    &--left {
      left: 1%;
    }

    &--right {
      right: 1%;
    }
  }
}
