.carousel {
  width: 100%;
  position: absolute;
  top: 30%;
  overflow: hidden;
  transform: scale(0);
  animation: scaleImage .5s forwards;
  
  @include animation(scaleImage) {
    from {
      transform: scale(0);
    }
    to {
      transform: scale((1));
    }
  }

  &__inner {
    width: 100%;
    // display: flex;
  }

  &__image {
    max-width: 100%;
    height: auto;
    padding: 0 .1em;
    box-sizing: border-box;
    flex-shrink: 0;
  }
  &__button {
    @include nonSquareButton($white-color, transparent);
    font-size: rem(32);
    position: absolute;
    top: 45%;
    
    @include respond-to('medium') {
      font-size: rem(50);
      top: 50%;
    }
    @include respond-to('large') {
      font-size: rem(60);
    }

    &--left {
      left: 1%;
    }

    &--right {
      right: 1%;
    }
  }
}
