.carousel {
  width: 105%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transform: scale(0);
  animation: scaleImage .5s forwards;
  
  @include animation(scaleImage) {
    from {
      transform: scale(0);
    }
    to {
      transform: scale((1));
    }
  }

  &__inner {
    width: 100%;
    display: flex;
  }

  &__image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  &__button {
    @include nonSquareButton($white-color, transparent);
    font-size: 10vw;
    position: absolute;
    top: 50%;

    @include respond-to('large') {
      font-size: 5rem;
    }

    &--left {
      left: 1%;
    }

    &--right {
      right: 1%;
    }
  }
}
