.card {
  font-weight: $bolder;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  border-radius: rem(5);
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10%);
  animation: fadeInImage 1s forwards;

  @include animation(fadeInImage) {
    from {
      transform: translateY(10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &--display-none {
    display: none;
  }

  &__image-box {
    position: relative;
    cursor: pointer;
  }

  &__image {
    max-width: 100%;
    transition: all 0.5s ease-in-out;
  }

  &__cart-button {
    @include nonSquareButton($dark-color, $gold-color);
    font-size: rem(20);
    border-radius: 2rem 0 0 0;
    padding: 1.2em 0.5em 0.5em 0.9em;
    position: absolute;
    bottom: 2%;
    right: 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
  }

  &__text {
    font-size: rem(22);
    color: $dark-color;

    @include respond-to('large') {
      font-size: 1.5vw;
    }

    &--right {
      margin-right: 2rem;
    }
  }
}

.card {
  @include respond-to('large') {
    &__image-box {
      &:hover {
        .card__cart-button {
          bottom: -4%;
          right: 0;
        }

        .card__image {
          transform: scale(1.1);
        }
      }
    }

    &__cart-button {
      font-size: 1.5vw;
      bottom: -10%;
      right: -30%;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: $white-color;
      }
    }
  }
}
