.card {
  min-width: 0;
  background-color: white;
  border: 1px solid gold;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__image-box {
    width: 100%;
    position: relative;
    cursor: pointer;
  }

  &__image {
    width: 100%;
    transition: all 1s ease-in-out;
  }

  &__cart-button {
    @include button(none, $dark-color);
    background-color: $white-color;
    padding: 2rem 1rem 1.5rem 1.5rem;
    border: none;
    border-radius: 2rem 0 0 0;
    position: absolute;
    bottom: -10%;
    right: -15%;
    transition: all 1s ease-in-out;
    font-size: 1.7rem;

    &:hover {
      color: $white-color;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 1rem;
  }

  &__text {
    font-size: 2rem;
    color: $dark-color;
    margin: 0 3rem;

    &--right {
      letter-spacing: 0.2rem;
      margin-right: 3rem;
    }
  }

  &:hover {
    .card__cart-button {
      bottom: -3%;
      right: 0;
      background-color: $gold-color;
    }

    .card__image {
      transform: scale(1.1);
    }
  }
}
