.modal {
  width: 95%;
  height: auto;
  display: none;
  margin: auto;
  position: fixed;
  top: 20vh;
  z-index: 10;
  overflow: hidden;
  
  @include respond-to('large') {
    width: 70%;
    top: 25vh;
  }
  
  @include respond-to('huge') {
    width: 55%;
    top: 5vh;
  }
  
  &::before {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: $dark-color;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -2;
  }
  
  &__close-button {
    @include nonSquareButton(inherit, transparent);
    @include textHover($gold-color);
    font-size: 10vw;
    margin-bottom: 0.5rem;
    float: right;

    @include respond-to('large') {
      font-size: 5vw;
    }
  }

  &--open {
    display: block;
  }
}