.modal {
  width: 95%;
  position: fixed;
  top: 30vh;
  margin: auto;
  z-index: 10;
  display: none;
  overflow: hidden;

  @include respond-to('medium') {
    top: 10vh;
  }
  
  @include respond-to('large') {
    width: 70%;
  }
  
  @include respond-to('huge') {
    width: 55%;
  }
  
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: -2;
  }
  
  &__close-button {
    @include nonSquareButton(inherit, transparent);
    font-size: 10vw;
    margin-bottom: 0.5rem;
    float: right;

    &:hover {
      color: $gold-color;
    }
  }

  &--open {
    display: block;
  }
}