.text {
  text-align: center;
  box-sizing: border-box;
  
  &--align-left {
    text-align: left;
  }
  
  &__title {
    font-size: rem(40);
    margin: 0;

    @include respond-to('medium') {
      font-size: rem(60);
    }
    
    @include respond-to('large') {
      font-size: rem(80);
    }
    
    &--strong {
      font-size: rem(60);
      color: $gold-color;
      
      @include respond-to('medium') {
        font-size: rem(80);
      }
      @include respond-to('large') {
        font-size: rem(100);
      }
    }
  }

  &__paragraph {
    color: $grey-color;
    font-size: rem(20);
    margin: 0;

    @include respond-to('large') {
      font-size: rem(25);
    }
  }

  &__button {
    font-size: rem(18);
    margin-top: 1em;

    @include respond-to('large') {
      font-size: rem(20);
      font-weight: $bolder;
    }
  }
}
