.text {
  width: 80%;
  text-align: center;
  font-size: 13vw;

  @include respond-to('large') {
    width: 50%;
    font-size: 4vw;
  }
  
  &--align-left {
    text-align: left;
  }

  &__title {
    font-size: inherit;
    margin: 0;

    &--strong {
      font-size: 20vw;
      color: $gold-color;

      @include respond-to('large') {
        font-size: 6vw;
      }
    }
  }

  &__paragraph {
    color: $grey-color;
    font-size: 5vw;
    margin: 0;

    @include respond-to('large') {
      font-size: 2vw;
      margin: 2rem 0 3rem 0;
    }
  }
}
