@mixin link {
  color: $dark-color;
  text-decoration: none;
}

@mixin squareButton($border-color, $text-color, $bg-color) {
  color: $text-color;
  background-color: $bg-color;
  padding: 1rem 1.5rem;
  border: 0.3rem solid $border-color;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 1s;

  &:focus {
    outline: none;
    // outline: $white-color auto 0.1rem;
  }
}

@mixin nonSquareButton($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

@mixin list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin button-hover($color, $bg-color, $opacity: 1) {
  &:hover {
    color: $color;
    background-color: $bg-color;
    opacity: $opacity;
  }
}

@mixin textHover($color: currentColor, $opacity: 1) {
  &:hover {
    color: $color;
    opacity: $opacity;
  }
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin animation($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}
