@mixin link {
  color: $dark-color;
  text-decoration: none; 
}

@mixin button($border-color, $text-color) {
  color: $text-color;
  background-color: inherit;
  padding: 1rem 1.5rem;
  border: .3rem solid $border-color;
  border-radius: .5rem;
  cursor: pointer;
  transition: all .5s;
}

@mixin button-hover($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}