@mixin link($color) {
  color: $color;
  text-decoration: none;
}

@mixin squareButton($border-color, $text-color, $bg-color) {
  font-family: inherit;
  font-weight: inherit;
  color: $text-color;
  background-color: $bg-color;
  padding: .5em 1em;
  border: 3px solid $border-color;
  border-radius: rem(5);
  cursor: pointer;
  transition: all 1s;
}

@mixin nonSquareButton($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

@mixin linkButton {
  width: 100%;
  height: 100%;
  display: block;
  padding: .5em 1em;
  box-sizing: border-box;
}

@mixin list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin button-hover($color, $bg-color, $opacity: 1) {
  &:hover {
    color: $color;
    background-color: $bg-color;
    opacity: $opacity;
  }
}

@mixin textHover($color: currentColor, $opacity: 1) {
  &:hover {
    color: $color;
    opacity: $opacity;
  }
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin animation($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}
