.about {
  @include flex($direction: column, $justify: space-around);
  color: $dark-color;
  background-color: $white-color;

  @include respond-to('medium') {
    flex-direction: row;
  }

  &__text {
    width: 90%;
    margin-bottom: 1em;

    @include respond-to('medium') {
      width: 55%;
      padding: 0 1.5em 0 1em;
    }

    @include respond-to('large') {
      width: 40%;
    }
  }

  &__image-box {
    padding: 1em;

    @include respond-to('medium') {
      width: 45%;
      padding: 0 0.5em 0 0;
    }

    @include respond-to('large') {
      width: 40%;
    }
  }
}
