.filter {
  @include flex($justify: space-around);
  flex-wrap: wrap;

  @include respond-to('large') {
    justify-content: center;
  }

  &__button {
    font-size: rem(16);
    margin: 0 0.2em 1em 0;

    @include respond-to('medium') {
      font-size: rem(18);
    }

    @include respond-to('large') {
      font-size: rem(20);
      margin: 1em;
    }
  }
}
