.filter {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  @include respond-to('medium') {
    width: 70%;
  }
  
  @include respond-to('large') {
    width: 50%;
  }
  
  &__button {
    margin: 2rem 1rem;
  }
}