.form {
  width: 70%;
  display: flex;
  justify-content: center;
  @include respond-to('medium') {
    width: 50%;
  }

  &__input {
    -webkit-appearance: none;
    font-size: 100%;
    font-weight: $bold;
    width: 100%;
    padding: 1rem 1rem;
    border: .1rem solid $grey-color;
    border-radius: .5rem 0 0 .5rem;
  }

  &__button {
    @include squareButton($grey-color, $dark-color, $gold-color);
    border-width: .1rem;
    border-radius: 0 .5rem .5rem 0;
  }
}