.form {
  width: 80%;
  height: 3%;
  display: flex;
  justify-content: center;
  
  @include respond-to('large') {
    height: 5vh;
  } 
  
  &__input {
    -webkit-appearance: none;
    width: 70%;
    height: 100%;
    font-size: 100%;
    font-weight: $bold;
    padding: 1rem 1rem;
    border: .1rem solid $grey-color;
    border-radius: .5rem 0 0 .5rem;
  }

  &__button {
    @include squareButton($grey-color, $dark-color, $gold-color);
    border-width: .1rem;
    border-radius: 0 .5rem .5rem 0;
  }
}