.header {
  box-sizing: border-box;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
    
    &__logo {
      @include link();
      color: $gold-color;
      font-weight: $bolder;
      font-size: 3.5rem;

    &:hover {
      opacity: 0.7;
    }
  }

  &__nav-bar {
    flex: 2;
    @include respond-to('medium') {
      max-width: 100%;
    }
  }

  &__phone-num {
    flex: 1;
    font-size: 2rem;
    text-align: center;
    display: none;

    @include respond-to('large') {
      display: block;
    }
  }

  &__cart-button {
    display: none;
    margin-right: 2rem;

    @include respond-to('large') {
      display: block;
    }
  }

  &__burger-button {
    @include nonSquareButton($white-color, transparent);
    font-size: 2.5rem;
    margin-right: 3rem;
    transition: all .5s ease-out;
    outline-color: transparent;

    &--open {
      transform: rotate(90deg);
    }

    @include respond-to('large') {
      display: none;
    }
  }
}
