.header {
  @include flex($justify: space-between);
  height: 10vh;
  font-size: rem(30);
  font-weight: $normal;
  box-sizing: border-box;
  position: relative;

  @include respond-to('large') {
    justify-content: space-around;
  }

  &__logo {
    @include link(inherit);
    @include textHover($gold-color, 0.9);
    font-size: rem(48);
    font-weight: $bolder;
    color: $gold-color;
    text-align: center;

    @include respond-to('large') {
      text-align: left;
    }
  }

  &__nav-bar {
    @include respond-to('large') {
      flex: 2;
    }
  }

  &__phone-num {
    text-align: center;
    display: none;
    flex: 1;

    @include respond-to('large') {
      display: block;
    }
  }

  &__cart-button {
    @include nonSquareButton(inherit, transparent);
    font-size: inherit;
    margin-right: 0.2em;
    position: relative;

    @include respond-to('large') {
      @include button-hover($gold-color, transparent);
    }
  }

  &__cart-text {
    color: $gold-color;
    font-weight: $bolder;
    position: absolute;
    top: -45%;
    right: -35%;
  }

  &__burger-button {
    @include nonSquareButton($white-color, transparent);
    font-size: inherit;
    padding: 0 0.1em;
    transition: all 0.5s ease-out;

    @include respond-to('large') {
      @include button-hover($white-color, transparent, 0.8);
    }

    &:focus {
      outline: 1px $white-color solid;
      outline-offset: 0.2em;
    }

    &--open {
      transform: rotate(270deg);
    }

    @include respond-to('large') {
      display: none;
    }
  }
}
