.header {
  height: 7vh;
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  font-weight: $normal;

  @include respond-to('large') {
    font-size: 2.5rem;
    justify-content: space-around;
  }
    
  &__logo {
    @include link();
    color: $gold-color;
    font-weight: $bolder;
    font-size: 5.5rem;
    text-align: center;

    @include respond-to('large') {
      text-align: left;
      margin-left: 2rem;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__nav-bar {
    @include respond-to('large') {
      flex: 2;
    }
  }

  &__phone-num {
    flex: 1;
    text-align: center;
    display: none;

    @include respond-to('large') {
      display: block;
    }
  }

  &__cart-button {
    @include nonSquareButton(inherit, transparent);
    font-size: inherit;
    position: relative;
    margin-right: 2rem;

    @include respond-to('large') {
      margin-right: 5rem;
    }

    &:hover {
      color: $gold-color;
    }
  }

  &__cart-text {
    color: $gold-color;
    font-weight: $bolder;
    position: absolute;
    top: -60%;
    right: -35%;
  }

  &__burger-button {
    @include nonSquareButton($white-color, transparent);
    font-size: inherit;
    margin-left: 2rem;
    transition: all .5s ease-out;
    outline-color: transparent;

    &--open {
      transform: rotate(270deg);
    }

    @include respond-to('large') {
      display: none;
    }
  }
}
