.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3vh;

  @include respond-to('huge') {
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  }
}
