.main {
  &__about {
    padding-bottom: 1em;

    @include respond-to('medium') {
      padding: 2em 1em;
    }

    @include respond-to('large') {
      padding: 3em 1em;
    }
  }

  &__store {
    padding: 2em 0;
    margin: auto;
  }
}