.nav-bar {
  width: 50%;
  height: 90vh;
  font-size: rem(25);
  background-color: $dark-color;
  border-right: 1px solid $white-color;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 30;
  transform: translateX(-150%);
  transition: transform 0.5s ease-out;

  &--open {
    transform: translateX(0);
  }

  @include respond-to('medium') {
    font-size: inherit;
  }

  @include respond-to('large') {
    height: 100%;
    border: none;
    position: static;
    transform: none;
    transition: none;
  }

  &__items {
    @include list();
    @include flex($direction: column, $justify: space-around);
    height: 50%;

    @include respond-to('large') {
      height: 100%;
      flex-direction: row;
    }
  }

  &__item {
    display: block;
    opacity: 0;
    @include animation(itemFade) {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @include respond-to('large') {
      opacity: 1;
    }
  }

  &__link {
    @include link(inherit);
    @include textHover($opacity: 0.7);
    color: inherit;
  }
}
