.nav-bar {
  width: 50%;
  height: 95vh;
  font-size: 75%;
  background-color: $dark-color;
  border: .1rem solid $white-color;
  border-top: none;
  position: absolute;
  top: 10vh;
  left: -5%;
  z-index: 30;
  transform: translateX(-100%);
  transition: transform .5s ease-out;

  &--open {
    transform: translateX(0);
  }

  @include respond-to('large') {
    height: 100%;
    font-size: inherit;
    border: none;
    position: static;
    transform: none;
    transition: none;
  }

  &__items {
    @include list();
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;

    @include respond-to('large') {
      height: 100%;
      flex-direction: row;
    }
  }

  &__item {
    display: block;
    opacity: 0;

    @include animation(itemFade) {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @include respond-to('large') {
      opacity: 1;
    }
  }

  &__link {
    @include link();
    @include textHover($opacity: .7);
    color: inherit;
  }
}
