.nav-bar {
  &__items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    // padding: 0 2rem 0 0;
    font-weight: $normal;
  }

  &__item {
    display: block;
  }

  &__link {
    @include link();
    font-size: 2.5rem;
    color: white;

    &:hover {
      opacity: .7;
    }
  }
}