.page {
  height: 100vh;
  font-size: 1.6rem;
  font-family: $playfair-display;
  font-weight: $bolder;
  color: $white-color;
  background-color: $dark-color;
  margin: 0;

  &__header {
    padding: 2rem 0 1rem 2rem;
  }
}
