.page {
  height: 100vh;
  font-size: 1.6rem;
  font-family: $playfair-display;
  font-weight: $bolder;
  color: $white-color;
  background-color: $dark-color;
  margin: 0;
  overflow-x: hidden;

  &__header {
    padding-top: 1vh;
  }
}
