.page {
  height: 100%;
  font-size: rem(16);
  font-family: $playfair-display;
  font-weight: $bold;
  color: $white-color;
  background-color: $dark-color;
  margin: 0;
  overflow-x: hidden;

  &__header {
    padding: .3em .4em;
  }
}
